@use "../variables";

// Trait Cards
.trait-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;

  .trait-card {
    background: rgba(variables.$bg-color, 0.25);
    border: 0.05rem solid rgba(variables.$dark-color, 0.05);
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.8rem -0.2rem rgba(variables.$dark-color, 0.1);
    color: variables.$dark-color;
    flex: 0 1 auto;
    padding: 0.4rem 0.6rem;

    .trait-type {
      color: variables.$gray-color-dark;
      font-size: 0.6rem;
      line-height: 1.5;
    }

    .trait-value {
      font-weight: 700;
      font-size: 0.75rem;
      height: 1.25rem;
      line-height: 1.25rem;
    }

    .trait-icon {
      height: 1rem;
      margin-top: 0.2rem;
    }

    .trait-percentage {
      font-weight: 500;
      font-size: 0.3rem;
      line-height: 1;
    }
  }
}
